{% extends "main/base.html" %}
{% load static %}

{% block title %}Add Book{% endblock title %}

{% block styleLinks %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
<link rel="stylesheet" href="{% static "css/addBook.css" %}">
{% endblock styleLinks %}

{% block main %}
<section class="body-container-add">
    <form id="addBookForm" action="{% url 'saveNewBook' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="left">
            <div id="leftTitle"> ADD A BOOK TO OUR LIBRARY! </div>
            <img id="leftImg" src="{% static "images/final test-Photoroom.png-Photoroom.png" %}" alt="">
            <div id="leftText">"Book by book we build bridges, add a book to expand our horizon!"</div>
        </div>
        <div id="right">
            <h2>Book Details</h2>
            <div id="imgFrame">
                <img id="img" src="{% static "images/export.png" %}" alt="book img">
            </div>
            <div id="rightImg">
                <label for="upImg">upload image</label>
                <input id="upImg" type="file" name="upImg" accept="image/jpeg, image/png, image/webp, image/jpg ">
            </div>
            <div id="bname">
                <label for="bookName">Book Name </label>
                <br>
                <input type="text" id="bookName" name="bookName" placeholder="enter the book name" required>
            </div>
            <div id="auname">
                <label for="author">Author</label>
                <br>
                <input type="text" id="author" name="author" placeholder="enter the author name" required>
            </div>
            <div id="bno">
                <label for="no_of_pages"> Number of pages </label>
                <br>
                <input type="number" name="no_of_pages" id="no_of_pages" placeholder="enter the number of pages" required>
            </div>
            <div id="cat">
                <label for="category"> Category </label>
                <input type="text" id="category" name="category" placeholder="enter the book's category" required>
            </div>
            <div id="rat">
                <label for="rating">Rating out of 5</label>
                <br>
                <input type="text" name="rating" id="rating" placeholder="enter the book's rating" required>
            </div>
            <div id="desc">
                <label for="description">Book Description </label>
                <br>
                <textarea name="description" id="description" cols="50" rows="10" placeholder="enter the book description" required></textarea>
            </div>
            <button id="submit" type="submit">Add Book</button>
        </div>
    </form>
</section>
{% endblock main %}
