{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BeBooky{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/icons8-books-32.png' %}">
    {% block styleLinks %}

    {% endblock %}
</head>
<body>
    <header>
        <nav id="nav-bar" {% block coloredNavBar %}class="bg-nav-bar"{% endblock coloredNavBar %}>
            <a href="{% url 'home' %}" id="header-title">BeBooky</a>
            <ul id="menu-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'allBooks' %}">All Books</a></li>
                {% if user.is_staff %}
                <li><a href="{% url 'addBook' %}">Add Book</a></li>
                {% else %}
                {% comment %} <li><a href=" {% url 'borrowedBooks' %} ">Borrowed Books</a></li> {% endcomment %}
                {% endif %}
            </ul>
            <ul id="register-btns">
            {% if user.is_authenticated %}
                <li><a href="{% url "logout_User" %}" id="log-out-btn">Log out</a></li>
            {% else %}
                <li><a href="{% url "login_User" %}" id="login-btn">Log in</a></li>
                <li><a href="{% url "signup" %}" id="get-started-btn">Get Started</a></li>
            </ul>
            {% endif %}
        </nav>
        {% block header %}
            
        {% endblock %}
    </header>
    <main>
        {% block main %}

        {% endblock %}
    </main>
    {% block footer %}
    {% endblock %}
    
    {% block script %}
    {% endblock script %}
</body>
</html>
