{% extends "main/base.html" %}
{% load static %}

{% block title %}Edit Book{% endblock title %}

{% block styleLinks %}
<link rel="stylesheet" href="{% static "css/editbook.css" %}">
<link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock styleLinks %}

{% block main %}
<section class="body-container-edit">
    <form id="editbookform" method="post" enctype="multipart/form-data" action="{% url 'updateBook' book.id %}">
        {% csrf_token %}
        <div id="left">
            <h1 id="leftTitle">Edit a book</h1>
            <div id="info">"Revise and personalize your book's details effortlessly"</div>
            <img id="leftImg" src="{% static 'images/Ebook-bro_1.svg' %}" alt="">
        </div>
        <div id="right">
            <h2>Book Details</h2>
            <div id="imgFrame">
                <img id="img" src="{{ book.bookCover.url }}" alt="book img">
            </div>
            <div id="rightImg">
                <label for="upImg">Upload image</label>
                <input id="upImg" type="file" accept="image/jpeg, image/png, image/webp" name="bookCover">
            </div>
            <div id="bname">
                <label for="bookname">Book Name</label>
                <br>
                <input type="text" id="bookname" name="name" placeholder="Enter the book name" value="{{ book.name }}" required>
                <br>
            </div>
            <div id="auname">
                <label for="author">Author Name</label>
                <br>
                <input type="text" id="author" name="author" placeholder="Enter the author name" value="{{ book.author }}" required>
            </div>
            <br><br><br>
            <div id="bid">
                <label for="bookid">Book ID</label>
                <br>
                <input type="text" id="bookid" readonly placeholder="Enter the book id" value="{{ book.id }}" required>
                <br>
            </div>
            <div id="bno">
                <label for="no_of_pages">Number of pages</label>
                <br>
                <input type="number" name="numberOfPages" id="no_of_pages" value="{{ book.numberOfPages }}" placeholder="Enter the number of pages" required>
                <br>
            </div>
            <div id="cat">
                <label for="category">Category</label>
                <br>
                <input type="text" id="category" name="category" placeholder="Enter the book's category" value="{{ book.category }}" required>
                <br>
            </div>
            <div id="rat">
                <label for="rating">Rating out of 5</label>
                <br>
                <input type="text" name="rating" id="rating" value="{{ book.rating }}" placeholder="Enter the book's rating" required>
                <br>
            </div>
            <br><br>
            <label for="description">Book Description</label>
            <br><br>
            <textarea name="description" id="description" cols="50" rows="10" placeholder="Enter the book description" required>{{ book.description }}</textarea>
            <br>
            <button id="save" type="submit">Save Changes</button>
        </div>
    </form>
</section>
{% endblock main %}
