<{% extends "main/base.html" %}
{% comment %} {% load static %} {% endcomment %}
{% load static %}

{% block title %}All Books{% endblock title %}

{% block styleLinks %}
  
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800
;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"/>         
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{% static "css/allBooks.css" %}"/>
<link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock styleLinks %}


{% block main %}
 
 <script>
  document.addEventListener('DOMContentLoaded', function() {
      document.querySelector('.cta-explore').addEventListener('click', function(event) {
          event.preventDefault();
          const title = document.getElementById('search-input').value;
          if (title) {
            window.location.href = `{% url 'search_books' %}?search=${encodeURIComponent(title)}`;
          } else {
              alert('Please enter a title to search.');
          }
      });
  });
</script>
<div class="wrapper">

    

        <div id="search-container">
          
          <input type="search" id="search-input" name="search" placeholder="Search by Title or Author..." value="{{ query }}"/>
          <form action="{% url 'search_books' %}" method="get" style="display:inline;">
            <button type="submit" class="cta-welcome-btns cta-explore">Search</button>
          </form>
  </div>

<style>
  .inline-form {
      display: inline;
  }
</style>
<div id="buttons">
      <form action="{% url 'allBooks' %}" method="get" class="inline-form">
        <button type="submit" class="cta-welcome-btns cta-explore">All Books</button>
      </form>
      <form action="{% url 'search_books' %}" method="get" class="inline-form">
        <input type="hidden" name="category" value="Art">
        <button  type="submit" class="cta-welcome-btns cta-explore">Art</button>
      </form>
      <form action="{% url 'search_books' %}" method="get" class="inline-form">
        <input type="hidden" name="category" value="Science">
        <button  type="submit" class="cta-welcome-btns cta-explore">Science</button>
      </form>
      <form action="{% url 'search_books' %}" method="get" class="inline-form">
        <input type="hidden" name="category" value="Romance">
        <button  type="submit" class="cta-welcome-btns cta-explore">Romance</button>
      </form>
      <form action="{% url 'search_books' %}" method="get" class="inline-form">
        <input type="hidden" name="category" value="Fantasy">
        <button  type="submit" class="cta-welcome-btns cta-explore">Fantasy</button>
      </form>
      <form action="{% url 'search_books' %}" method="get" class="inline-form">
        <input type="hidden" name="category" value="History">
        <button  type="submit" class="cta-welcome-btns cta-explore">History</button>
      </form>
      <form action="{% url 'search_books' %}" method="get" class="inline-form">
        <input type="hidden" name="category" value="Fiction">
        <button  type="submit" class="cta-welcome-btns cta-explore">Fiction</button>
      </form>
      <form action="{% url 'search_books' %}" method="get" class="inline-form">
        <input type="hidden" name="category" value="Comics">
        <button  type="submit" class="cta-welcome-btns cta-explore">Comics</button>
      </form>

    </div>      
  </div>       




 <section id="Books">
    {% if books %}
    {% for book in books %}
     <a href="{% url 'bookDetails' book_id=book.id %}" class="book-card-link">
        <div class="card">
        <div class="image-container">
            <img src="{{book.bookCover.url}}" alt="{{book.name}} book">
        </div>
        <div class="container">
            <h3 class="Book-name">{{book.name}}</h3>
            <h6 class="Autor-name">{{book.author}}</h6>
            <h2>
            <i class="star-icon">&#9733;</i>
            {{book.rating}}
            </h2>
        </div>
        </div>
     </a>
    {% endfor %}
    {% else %}
      <p>No books found.</p>
  {% endif %}
    
</section> 
{% endblock main %}


>